<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add Album</title>
  <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div class="container">
  <form id="contact" action="/albums" method="post">
    <h3>Add Album</h3>
    <h4>Here you can add your album</h4>
    <fieldset>
      <input placeholder="Album Title" type="text" tabindex="1" name="title" autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Artist" type="text" tabindex="2" name="artist">
    </fieldset>
    <fieldset>
      <input placeholder="Song Count" type="number" tabindex="3" name="songCount">
    </fieldset>
    <fieldset>
      <input placeholder="Length of album in seconds" type="number" tabindex="4" name="length" >
    </fieldset>
    <fieldset>
      <input placeholder="Album image url" type="text" tabindex="4" name="imageUrl">
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>


</div>
</body>
</html>