<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add Song</title>
  <link rel="stylesheet" th:href="@{/css/form.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<nav class="navbar">
  <a class="brand" href="/">Songr</a>
  <ul>
    <li>
      <a href="/hello">Greeting</a>
    </li>
    <li>
      <a active href="/capitalize/this word">Capitalize </a>
    </li>
    <li>
      <a href="/albums">Albums</a>
    </li>
    <li>
      <a href="/songs">Songs</a>
    </li>
  </ul>
</nav>
<div class="container">
  <form id="contact" action="/songs" method="post">
    <h3>Add Song</h3>
    <h4>Here you can add new song</h4>
    <fieldset>
      <input placeholder="Song Title" type="text" tabindex="1" name="title" autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Length" type="text" tabindex="2" name="length">
    </fieldset>
    <fieldset>
      <input placeholder="Track Number" type="number" tabindex="3" name="trackNumber">
    </fieldset>
    <fieldset>
      <input placeholder="Album id" type="number" tabindex="4" name="album_id" >
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>


</div>
</body>
</html>